.vscode/**
.vscode-test/**
src/**
node_modules/**
.jj/**
demo/**
docs/**
.eslintrc*
eslint.config.js
*.lock
bun.lock*
yarn.lock*
tsconfig.json
.gitignore
.agent.md
.instructions.md
AGENTS.md
CLAUDE.md
CONTEXT.md
.yarnrc.yml